<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>


<a href="/add">添加</a>
<ul id="ctn">

</ul>


<script id="test" type="text/html">
    <ul>
        {{each list value i}}
            <li><b>标题</b><span>[{{value.title}}]</span> <b>作者</b><span>[{{value.author}}]</span><button onclick="del(id)">删除</button>
        {{/each}}
    </ul>
</script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/template-web.js"></script>
<script type="text/javascript">
    function init() {
        $.get("/api/list/data",{},function (resp) {
            var data ={
                list:resp
            }
            var html =template("test",data);
            console.log(html);
            document.getElementById('ctn').innerHTML = html;
        },"json")
    }

    init()
</script>
</body>
</html>